.quiz__container {
    /* background-color: black; */
    min-height: 100vh;
    display: flex;
}
  
.quiz__container--background {
    background-image: url("./aTURT51.jpg");
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%;
    text-align: center;
    background-size: 100%;
    z-index: -1;
}
  
.quiz__container--cards {
    display: block;
    position: relative;
    width: 35%;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
}