.quiz__container.card {
    position: absolute;
    background-color: rgba(209, 226, 211, 0.95);
    width: 100%;
    top: 50px;
	border: 1px solid #3db152;
	box-shadow: 19px 7px 6px rgba(0,0,0,.3);
	border-radius: 6px;
}

.btn-secondary{
	background-color: #187100;
	border-color: #187100;
	font-family: 'Maven Pro', sans-serif;
}

.btn-secondary:hover {
	background-color: #3db152;
	border-color: #3db152;
}

.hidden {
    left: 100%;
}

.active {
    left: 0;
}

.quiz__question--container {
	padding-bottom: 20px;
	font-family: 'KoHo', sans-serif;
	font-size: 22px;
	line-height: 25px;
}

.btn-group {
    flex-direction: column;
}

.quiz__questions {
    text-align: left;
    padding-bottom: 10px;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
	font-family: 'Maven Pro', sans-serif;
	line-height: 20px;
}

.quiz__questions input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.quiz__questions--button {
    position: absolute;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #02711a;
    border-radius: 50%;
    top: 5px;
}

.quiz__questions:hover input ~ .quiz__questions--button {
	background-color: #3db152;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.quiz__questions input:checked ~ .quiz__questions--button {
    background-color: #3db152;
}

.quiz__questions--button:after {
    content: "";
    position: absolute;
    display: none;
}

.quiz__questions input:checked ~ .quiz__questions--button:after {
    display: block;
}

.quiz__questions--continue-button {
    margin-bottom: 20px;
}