.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*////////////WELCOME COMPONENT STYLES////////////*/

.welcome__container {
  background-color: black;
  min-height: 100vh;
  display: flex;
}

.welcome__background--gif {
  display: block;
  width: 800px;
  height: 450px;
}

.welcome__background--quiz {
  position: absolute;
  bottom: 100px;
  right: 50%;
}

button,
button::after {
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
}

button {
background: none;
border-radius: 4px;
border-color: black;
color: #fff;
display: block;
font-size: 10px;
font-weight: bold;
margin: 1em auto;
padding: 1.5em 3em;
position: relative;
z-index: 1;
cursor: pointer;
}

button::before,
button::after {
background: #fff;
content: '';
position: absolute;
z-index: -1;
}

button:hover {
color: black;
}

.btn-hover {
  overflow: hidden;
}

.btn-hover::after {
  background-color: rgb(150, 1, 1);
  height: 100%;
  left: -40%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0;
}
  
.btn-hover:hover:after {
  height: 100%;
  width: 140%;
}


/*//////////QUIZ CARD STYLES////////////*/

.quiz__container.card {
  position: absolute;
  background-color: rgba(209, 226, 211, 0.95);
  width: 100%;
  top: 50px;
  border: 1px solid #3db152;
  box-shadow: 19px 7px 6px rgba(0,0,0,.3);
  border-radius: 6px;
  min-height: 0;
}

.quiz__question--container {
  padding-bottom: 20px;
  /* font-family: 'KoHo', sans-serif; */
  font-size: 22px;
  line-height: 25px;
}

/* .btn-secondary{
background-color: #187100;
border-color: #187100;
font-family: 'Maven Pro', sans-serif;
}

.btn-secondary:hover {
background-color: #3db152;
border-color: #3db152;
}

.hidden {
  left: 100%;
}

.active {
  left: 0;
} */



.btn-group {
  flex-direction: column;
}

.quiz__questions {
  text-align: left;
  padding-bottom: 10px;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
user-select: none;
font-family: 'Maven Pro', sans-serif;
line-height: 20px;
}

.quiz__questions input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.quiz__questions--button {
  position: absolute;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #02711a;
  border-radius: 50%;
  top: 5px;
}

.quiz__questions:hover input ~ .quiz__questions--button {
background-color: #3db152;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.quiz__questions input:checked ~ .quiz__questions--button {
  background-color: #3db152;
}

.quiz__questions--button:after {
  content: "";
  position: absolute;
  display: none;
}

.quiz__questions input:checked ~ .quiz__questions--button:after {
  display: block;
}

.quiz__questions--continue-button {
  margin-bottom: 20px;
}
